In [2]:
##Task 1

# Import libraries

import os
from google.cloud import bigquery
import pandas as pd

# Set up BigQuery client
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'C:\Users\jochoa\Documents\GitHub\wedge_project\service_account_key.json'  
client = bigquery.Client()

# Directory where data files are stored
data_dir = r'C:\Users\jochoa\Documents\GitHub\wedge_project\data'

In [3]:
## Attach GBQ

import os
from google.cloud import bigquery

# Set the environment variable for the service account key
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'C:\Users\jochoa\Documents\GitHub\wedge_project\service_account_key.json'

# Initialize the BigQuery client
client = bigquery.Client()

In [6]:
import pandas as pd
import os

# Use raw string for file path
file_path = r'C:\Users\jochoa\Documents\GitHub\wedge_project\data\transArchive_201609_clean.csv'

# Read the CSV file, correcting escape character issues
df = pd.read_csv(file_path, delimiter=',', na_values=['NULL', '\\N', r'\\N'])

# Display the first few rows of the dataframe to inspect it
df.head()

,datetime,register_no,emp_no,trans_no,upc,description,trans_type,trans_subtype,trans_status,department,...,batchHeaderID,local,organic,display,receipt,card_no,store,branch,match_id,trans_id
0,2016-09-01 07:13:09,51,94,6,0,Change,T,CA,NaN,0,...,NaN,0.0,NaN,NaN,0.0,20074,1,3,0.0,7
1,2016-09-01 08:28:43,51,94,37,0,Credit Card,T,CC,NaN,0,...,NaN,0.0,NaN,NaN,0.0,3,1,3,0.0,7
2,2016-09-01 08:44:56,51,94,47,TAX,Tax,A,NaN,NaN,0,...,NaN,0.0,NaN,NaN,0.0,10499,1,3,0.0,12
3,2016-09-01 07:20:34,51,94,10,0,Change,T,CA,NaN,0,...,NaN,0.0,NaN,NaN,0.0,12539,1,3,0.0,9
4,2016-09-01 08:57:38,51,94,50,0,Credit Card,T,CC,NaN,0,...,NaN,0.0,NaN,NaN,0.0,16360,1,3,0.0,11